<% include partials/head.ejs %>

    <section>
      <h1>Waar wil jij de wereld over zien spreken?</h1>
      <form action="/results" method="POST">
        <input type="text" name="handle" class="input-user-field">
        <input type="submit" value="Get users!">
      </form>
    </section>

<% include partials/footer.ejs %>
